.booksPage
{
    padding: 20px;
}
.searchInput-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.search-input
{
    width:200px;
    height: 30px;
    border: solid 2px;
}
.booklist-content-container
{
    display: flex;
    flex-direction: row;
}
.filters-container
{
    width:20%; 
}
.booksList-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}
.priceFilterCon
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.inputt 
{
    width: 50px;
    margin: 10px;
    text-align: center;
}
.applyButt
{
    text-align: center;
    padding: 10px;
    width: 50%;
    margin:2px;
    font-weight: bold;
    background-color: #ffe619;
    border-color: #ffe619;
    border-radius: 10px;
}
.loading-con
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.filterButtonsContainer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.searchButton
{
    background-color: transparent;
    
    font-size: 20px;
}
.searchContainer 
{
    display: flex;
    flex-direction: row;
    align-items: center;
}